%h1.h1
  = t(:header, scope: "pages.members")

- t(:text, scope: "pages.members").each do |paragraph|
  %p= paragraph

.row
  - Array.wrap(data.send(I18n.locale).members.members).each_with_index do |member, index|
    - if (index % 3).zero?
      .clearfix.visible-md-block
    - if (index % 2).zero?
      .clearfix.visible-sm-block
    .col-md-4.col-sm-6
      .flag
        %h3.h3
          = member.name
        %p
          = image_tag(member.photo, class: "img-responsive")
        %p
          = member.description