%h1.h1
  = t(:header, scope: "pages.parties")

- t(:text, scope: "pages.parties").each do |paragraph|
  %p= paragraph

.row
  - Array.wrap(data.send(I18n.locale).parties.parties).each_with_index do |party, index|
    - next if Date.parse(party.start) < Date.today
    - if (index % 3).zero?
      .clearfix.visible-md-block.visible-lg-block
    - if (index % 2).zero?
      .clearfix.visible-sm-block
    .col-md-4.col-sm-6
      .flag{ class: ("highlight" if party.highlight) }
        %h3.h3
          = link_to party.name, party.url
        %p
          = link_to party.url do
            - image_tag(party.photo, class: "img-responsive")
        %h3.h3
          %small
            %i.fa.fa-calendar
            = I18n.l(Date.parse(party.start), format: :event) rescue party.start
            %i.fa.fa-clock-o
            = I18n.l(Time.parse(party.start), format: "%H:%M") rescue party.start
          - if party.venue
            %small
              %i.fa.fa-map-marker
              = party.venue
        %p
          = Kramdown::Document.new(party.description).to_html rescue party.description
