.container
  .header.row
    .logo.hidden-sm.hidden-xs.col-md-2
      = image_tag("logo.png")
    .center.col-md-8.col-xs-12
      .name
        Swing Załoga
        .city
          Łódź
    .languages.hidden-sm.hidden-xs.col-md-2
      .choice
        = change_locale_link(:pl)
        \|
        = change_locale_link(:en)

.container
  %nav.navbar.navbar-inverse.row
    .navbar-header{ nav_active(%r{^index.html}) }
      %button.navbar-toggle{type: "button", data: { toggle: "collapse", target: "#main_navbar" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Swing Załoga", "index.html", class: "navbar-brand", locale: I18n.locale
    .collapse.navbar-collapse#main_navbar
      %ul.nav.navbar-nav
        - %i(classes members parties contact past).each do |path_key|
          %li{ nav_active(%r{/#{t(path_key, scope: :paths)}/.*}) }
            = link_to t(path_key, scope: :header), translated_url(path_key), locale: I18n.locale
  - if I18n.exists?("alert")
    .row.alert.alert-warning
      %p= t("alert.message")
