.container
  .header.row
    .logo.hidden-sm.hidden-xs.col-md-2
      = image_tag("logo.png")
    .center.col-md-8.col-xs-12
      .name
        Swing Załoga
        .city
          Łódź
    .languages.hidden-sm.hidden-xs.col-md-2
      .choice
        = change_locale_link(:pl)
        \|
        = change_locale_link(:en)

.container
  %nav.navbar.navbar-inverse.row
    .navbar-header{ nav_active(%r{^index.html}) }
      %button.navbar-toggle{type: "button", data: { toggle: "collapse", target: "#main_navbar" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Swing Załoga", "index.html", class: "navbar-brand", locale: I18n.locale
    .collapse.navbar-collapse#main_navbar
      %ul.nav.navbar-nav
        %li{ nav_active(%r{^classes/.*}) }= link_to t(:classes, scope: :header), "classes/index.html", locale: I18n.locale
        %li{ nav_active(%r{^members/.*}) }= link_to t(:members, scope: :header), "members/index.html", locale: I18n.locale
        %li{ nav_active(%r{^parties/.*}) }= link_to t(:parties, scope: :header), "parties/index.html", locale: I18n.locale
        %li{ nav_active(%r{^contact/.*}) }= link_to t(:contact, scope: :header), "contact/index.html", locale: I18n.locale
        %li.highlight= link_to t(:fabricks, scope: :header), "contact/index.html", locale: I18n.locale, target: "_blank"
