%h1.h1
  = t(:header, scope: "pages.classes")

- t(:text, scope: "pages.classes").each do |paragraph|
  %p= paragraph
.row
  - Array.wrap(data.send(I18n.locale).classes.classes).each do |klass|
    .col-lg-3.col-md-4.col-sm-6
      .flag{ class: ("active" if klass.highlight) }
        %h3.h3
          = klass.name
          %small= klass.leaders
        %p
          = klass.weekday
          = klass.time
        %p
          = klass.description
