%h1.h1= t(:header, scope: "pages.contact")
.row
  .col-sm-6
    %p
      = t(:intro, scope: "pages.contact")
    %p
      = t(:by_email, scope: "pages.contact")
      = mail_to "swinginlodz@gmail.com" do
        %i.fa.fa-email<>
        swinginlodz@gmail.com
    %p
      = t(:by_facebook, scope: "pages.contact")
      = link_to "https://www.facebook.com/swinginlodz/" do
        %i.fa.fa-facebook-official<>
        Facebook
    %p
      = t(:events, scope: "pages.contact")

  .col-sm-6
    #map

:javascript
  var map;
  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: new google.maps.LatLng(51.768322, 19.458568),
      mapTypeId: 'roadmap',
      styles: []
    });

    var icons = {
      classes: {
        icon: "http://swingzaloga.pl/assets/images/logo.png"
      }
    };

    function addMarker(feature) {
      var marker = new google.maps.Marker({
        title: feature.title,
        position: feature.position,
        map: map
      });
    }

    var features = [
      {
        position: new google.maps.LatLng(51.768322, 19.458568),
        type: 'classes',
        title: 'Regular classes'
      }
    ];

    for (var i = 0, feature; feature = features[i]; i++) {
      addMarker(feature);
    }
  }
= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyArmX6H-xduJdC4PTSArCqKj6F63CaIc4c&callback=initialize", defer: true, async: true
